[Unit]
Description=Discord BirthdayBot
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/BirthdayBot
User=birthdaybot
ExecStart=/usr/bin/python3 /opt/BirthdayBot/bot.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target